<header>
    <div class="head-wrapper container">
        <a href="#" class="button-collapse"><i class="material-icons">Menu</i></a>
        <div>
            <input name="taskTitle" type="text" placeholder="Title" class="todo-form__title">
            <textarea name="taskInfo" placeholder="Info" class="todo-form__info"></textarea>
            <a href="#" class="todo-form_close">Close </a>
            </div>
    </div>
</header>

<main class="main-region container"></main>

<footer>
    <ul>
        <li>Footer Nav</li>
    </ul>
</footer>
