<div class="todo-add__form__disabled__input__wrap">
    <input type="text" placeholder="Title" disabled>
</div>
<div class="todo-add__form__container hide">
        <input name="todoTitle" type="text" placeholder="Title" class="todo-add__form__title">
        <textarea name="todoInfo" placeholder="Info" class="todo-add__form__info"></textarea>
        <div class="todo-add__form__action">
            <!-- <a href="#" class="todo-add__form__add__todo">Add </a> -->
            <a href="#" class="todo-add__form__close">Close </a>
        </div> 
</div>
<div class="todos-container"></div>
